body {
    // background: rgb(33,51,61);
    background: radial-gradient(circle at top center, rgba(33,51,61,1) 0%, rgba(10,22,28,1) 100%);
    background-size: cover;
    margin: 0; 
}

h1 {
    cursor: pointer;
    color: antiquewhite;
    margin: 0 auto;
    padding-top: 5vh;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Dancing Script';
    transition: 0.3s;

    &:hover {
        transform: scale(110%);
        // text-shadow: 2px 2px 10px rgba (255, 255, 255, 0.5);
    } 
}

img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5vh auto;
    box-shadow: -5px 0 5px antiquewhite;
}

div {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    margin: 5 vh auto;
    height: 100vh;
    
}

q {
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    margin: 5vh auto;
    max-width: 70vw;
}

p {
    font-size: 1.7rem;
    color: antiquewhite;
    font-family: 'Dancing Script';
    text-align: right; 
    margin-right: 0;   
    max-width: 70vw;
}

@media (min-width: 760px) {
    h1 {
        font-size: 1.8rem;
    }
     
    q {
        font-size: 1.5rem;
    }

    p {
        font-size: 2rem;
    }

    img {
        width: 160px;
        height: 160px;
    }
}

.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: antiquewhite;
    z-index: -1;
}

.stars::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    background: antiquewhite;
    animation: twinkle 3s linear infinite;
    box-shadow: 200px 100px antiquewhite, 800px 400px antiquewhite, 800px 100px antiquewhite, 600px 500px antiquewhite, 500px 250px antiquewhite, 700px 300px antiquewhite, 900px 400px antiquewhite, 450px 500px antiquewhite, 1200px 600px antiquewhite, 1020px 350px antiquewhite, 1100px 550px antiquewhite; 
}

@keyframes twinkle {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}